# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Environment / Secrets
.env
.env.*

# Temporary / Submission logs
submission_demo.json

# Streamlit
.streamlit/credentials.toml
.streamlit/secrets.toml

